.categoryBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 100vh);
    gap: 0;
}

.box {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-inline: 20px;
    overflow: hidden;
}

.box1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.box2 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.box3 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.box4 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
}

.box5 {
    grid-row: 3 / 4;
    grid-column: 2 /3;
}

.contentBox {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 440px;
}

.title {
    font-size: 40px;
    font-weight: 500;
    color: var(--white);
    margin-top: 15px;
}

.description {
    font-size: 20px;
    color: var(--white);
    font-weight: 400;
}

.link {
    font-size: 20px;
    text-decoration: underline;
    color: var(--white);
    text-underline-offset: 5px;
    font-weight: 400;
}


.productSliders {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.box4Content {
    align-items: center;
    width: 100%;
}

.box4Content > .title,
.box4Content > .description,
.box4Content > .link {
    color: var(--black);
    text-align: center;
}

.box4Content > .description {
    width: 649px;
}

.navigation {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.navigation > span {
    width: 30px;
    height: 2px;
    background-color: #DDD;
    cursor: pointer;
}

.navigation > .active {
    background-color: var(--black);
}

.arrows {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.arrows > svg {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

@media (max-width: 768px) {
    .categoryBox {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 100vh);
    }
    
    .box1,
    .box2,
    .box3,
    .box4,
    .box5 {
        grid-column: 1 / 2;
        grid-row: auto;
    }

    .box4Content > .title {
        font-size: 32px;    
    }

    .box4Content > .description {
        width: 370px;
    }

    .productSliders > img {
        width: 230px;
    }

    .arrows {
        width: 420px;
    }

    .arrows > svg {
        width: 25px;
        height: 25px;
    }

}