.introduction {
    background-color: var(--white);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.title {
    font-size: 64px;
    font-weight: 500;
    text-align: center;
    color: var(--black);
}

.introCards {
    display: inline-flex;
    gap: 10px;
    align-items: flex-start;
    overflow-x: auto;
    scroll-behavior: auto; /* Đổi từ smooth sang auto để GSAP kiểm soát */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.introCards::-webkit-scrollbar {
    display: none;
}

.introCard {
    width: 460px;
    height: 580px;
    flex-shrink: 0;
}

.introCard > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .introduction {
        padding-top: 40px;
        padding-bottom: 40px;
        gap: 40px;
    }

    .title {
        font-size: 30px;
    }

    .introCard {
        width: 300px;
        height: 380px;
    }
}