.productCard {
    display: flex;
    flex-direction: column;
    gap: 15px;
    cursor: pointer;
}

.imageContainer {
    position: relative;
    overflow: hidden;
}

.imageContainer > img {
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.productInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.productInfo > h4 {
    font-size: 24px;
    font-weight: 500;
}

.colorSelector {
    display: flex;
    gap: 8px;
    align-items: center;
}

.colorOption {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.price {
    font-size: 22px;
    font-weight: 500;
}

.tag {
    padding: 8px 15px;
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
    text-align: center;
    display: inline-block;
    align-self: flex-start;
}

.newTag {
    background-color: var(--black);
}

.limitedTag {
    background-color: var(--midnight);
}

.hotTag {
    background-color: var(--brown);
}

.showNowButton {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    background-color: var(--black);
    color: var(--white);
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    transform: translateY(100%);
    transition: transform 0.3s;
}

.productCard:hover .showNowButton {
    transform: translateY(0);
}

.productCard:hover .imageContainer > img {
    opacity: 0;
}

@media (max-width: 768px) {
    .productInfo > h4 {
        font-size: 13px;
    }

    .colorSelector {
        gap: 5px;
    }

    .price {
        font-size: 13px;
    }

    .colorOption {
        width: 15px;
        height: 15px;
    }

    .tag {
        font-size: 10px;
        padding: 5px 10px;
        font-weight: 400;
    }

    .productCard, .productInfo {
        gap: 5px;
    }
}