.scarfCard {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.imageWrapper {
    width: 100%;
    height: 540px;
    overflow: hidden;
    margin: 0;
    position: relative;
}


.imageDefault {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: opacity 0.3s ease;
    opacity: 1;
    z-index: 1;
}

.imageHover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0;
    z-index: 2;
    transition: opacity 0.3s ease;
}

.imageDefault,
.imageHover {
    will-change: opacity;
}

.scarfCard:hover .imageDefault {
    opacity: 0;
}

.scarfCard:hover .imageHover {
    opacity: 1;
}

.scarfInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    margin: 0;
}

.scarfName, 
.scarfPrice {
    font-size: 15px;
    font-weight: 500;
    margin: 0;
}

@media (max-width: 768px) {
    .imageWrapper {
        height: 340px;
    }
    
    .scarfName, 
    .scarfPrice {
        font-size: 12px;
    }
    
    .scarfInfo {
        padding: 10px;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
}