.title {
    font-size: 32px;
    font-weight: 500;
    padding: 20px;
}

.category {
    padding: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.category > p {
    font-size: 18px;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
}

.category > p::before,
.category > p::after,
.filter::before {
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--black);
    top: 100%;
    left: 0;
    pointer-events: none;
}


.category > p::before,
.filter::before {
    content: '';
}

.category > p::before,
.filter::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
}

.category > p:hover::before,
.filter:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}


.category > p.active::before {
    transform: scale3d(1, 1, 1);
}


.countAndFilter {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 90px;
    background-color: var(--white);
    z-index: 500;
}

.count {
    font-size: 16px;
}

.filter {
    font-weight: 500;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
}

.topBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.leftBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.productList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 60px;
}

.rightBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content > h2 {
    font-weight: 400;
    color: var(--white);
    font-size: 36px;
}

.content > a {
    font-size: 20px;
    overflow: hidden;
    padding: 7px 0;
    color: var(--white);
    position: relative;
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
    width: fit-content;
}

/* SVG Graphic for sliding underline */
.linkGraphic {
    position: absolute;
    top: -3px;
    left: 0;
    pointer-events: none;
    fill: none;
    stroke: var(--white);
    stroke-width: 2px;
    transition: transform 0.7s;
    transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.content > a:hover .linkGraphic {
    transform: translate3d(-66.6%, 0, 0);
}

@media (max-width: 768px) {
    .title {
        font-size: 24px;
        padding: 10px;
    }

    .category {
        flex-wrap: wrap;
        gap: 15px;
        padding: 10px;
    }

    .category > p {
        font-size: 16px;
    }

    .topBox {
        display: flex;
        flex-direction: column;
    }

    .rightBox {
        width: 100%;
        height: 100vh;
    }

    .leftBox {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    .content > h2 {
        font-size: 28px;
    }

    .content {
        gap: 10px;
    }

    .content > a {
        font-size: 18px;
    }

    .productList {
        grid-template-columns: repeat(2, 1fr);

    }

    .countAndFilter {
        padding: 10px;
        top: 50px;
    }
}


