/*************====> TOP BAR <====*************/

.topBar {
    backGround-color: var(--brown);
    color: var(--white);
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.center {
    flex-shrink: 0;
    white-space: nowrap;
}

.center > span {
    text-decoration-line: underline;
    text-underline-offset: 4px;
    cursor: pointer;
}

.right {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
    font-weight: 300;
    cursor: pointer;
}

.left, .right {
    flex: 1;
}

/*************====> HEADER <====*************/

.header {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
    position: sticky;
    top: 0;
    background-color: var(--white);
    z-index: 1000;
}

.menu {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.menu > svg {
    height: 30px;
    width: 170px;
}

.links {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.link {
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    color: var(--black);
}

.link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--black);
    top: 100%;
    left: 0;
    pointer-events: none;
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
}

.link:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}

.logo {
    cursor: pointer;
}

.actions {
    display: flex;
    gap: 18px;
    justify-content: center;
    align-items: center;
}

.menuIcon {
    display: none;
}

.actions > svg {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

/*************====> OVERLAY MENU <====*************/

.overlayMenu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 9999;
    transform : translateX(100%);
    transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.overlayMenu.show {
    transform : translateX(0);
}

.overlayTop {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.overlayTopHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overlayTopHeader > a {
    cursor: pointer;
    color: var(--black);
    font-size: 20px;
    font-weight: 400;
}

.overlayTopLinks {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.overlayTopLink {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
}

.overlayBottom {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.overlayBottom > a {
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    color: var(--black);
}


/*************====> RESPONSIVE STYLES <====*************/

@media (max-width: 768px) {

    /*************====> TOP BAR <====*************/

    .left, .right {
        display: none;
    }

    .topBar {
        justify-content: center;
    }

    .center {
        font-size: 14px;
    }

    /*************====> HEADER <====*************/

    .links {
        display: none;
    }

    .header {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .logo {
        width: 128px !important;
    }

    .userIcon, .heartIcon {
        display: none;
    }

    .actions {
        gap: 15px;
    }

    .menuIcon {
        display: block;
    }
}